
.img {
    background-repeat: no-repeat;
    color: white;
    background: url(../images/Gold\ Blue\ Law\ Firm\ Sleek\ Corporate\ Law\ Firm\ Website.png);
    background-size: cover;
    height:70vh;
    min-height: 100%;
    background-position: center;

}

#skills,
#contact {
    background: #C7996F;
}

 a{
    text-decoration: none;
    color: #8C6D55;
    text-decoration: none;
}

 a:hover{
    color: #8C6D55 ;
    text-decoration: none;
}

.nav-link,
.navbar-brand{
    color: #E3DCCB;
}

.navbar{
    background-color:#664736;
}

#contact h5{

    color: aliceblue;
}

#contact a{

    color: aliceblue;
}

#contact a:hover {
    color: #664736;
}